.conteudo{
    width: 50%;
}

@media(max-width: 992px){ 
    .conteudo{
        width: 100%;
    } 
}

h1{
    color: darkblue;
}

img{
    border-style: solid
}

p{
    margin-bottom:80px;
}

.experiencia{ 
    margin-bottom: 60px;
    color: darkcyan;
}